@font-face {
   font-family: 'Lato-Black';
   font-display: swap;
   src: url('file:///C:/Users/alech/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-11_174144/fonts/Lato-Black/font.ttf');
}
